.vscode/

__pycache__/
*.py[cod]
*.pyc
venv/
env/
.venv/
build/
dist/
*.egg-info/

.env
pip-log.txt

*.log
.DS_Store
Thumbs.db
Desktop.ini
*.tmp
*.~*
*.swp
dist/
.vscode/.ropeproject/
*.log
.DS_Store
Thumbs.db
